################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/VrachMedcentr/v15/sqlite3/storage.ide
/VrachMedcentr/bin/Release
/VrachMedcentr/bin/Release
/VrachMedcentr/obj/Release
